body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body * {
  margin: 0px;
  padding: 0px;
  outline: 0;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: normal;
  font-style: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  border-radius: 0;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

button {
  display: block;
  border: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
  -webkit-user-drag: none;
  object-fit: contain;
}

@font-face {
  font-family: "Grtsk Giga";
  src: url(/fonts/grtskgiga-bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Grtsk Giga";
  src: url(/fonts/grtskgiga-semibold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: "Grtsk Giga";
  src: url(/fonts/grtskgiga-bolditalic.woff2);
  font-style: italic;
  font-weight: 700;
}

:root {
  --color-grey: #bebebe;
  --text-color: #373737;
}

.link-swaping__inner {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-swaping__visible {
  position: relative;
  transition: transform 0.3s;
  line-height: 1;
}

.link-swaping__hidden {
  position: absolute;
  transform: translateY(100%);
  transition: transform 0.3s;
  line-height: 1;
}

.link-swaping {
  cursor: pointer;
}

@media screen and (hover: hover) {
  .link-swaping:hover .link-swaping__hidden {
    transform: translateY(0);
  }

  .link-swaping:hover .link-swaping__visible {
    transform: translateY(-100%);
  }
}
